<!DOCTYPE html>
{% extends 'base_nologin.html' %}

{% block content %}
    {% with all_posts as posts %}
        {# Tags #}
        <div class="tags">
            {% for tag in tags %}
                <a href="{% url 'blog:TagRelatedPost' tag.tag%}">{{tag}}</a>
            {% endfor %}
        </div>    
        {# Trending Posts #}
        <div class="trending-posts">
            {% for post in posts%}
                <a href="{{post.get_absolute_url}}">{{ post }}</a> 
                <br>
                <a href="{{post.author.get_absolute_url}}">{{ post.author }}</a>
                <br> <br>
            {% endfor %}        
        </div>
    {% endwith %}
{% endblock content %}